body {
  margin: 0;
  padding: 0;
  color: #222;
  background-color: rgb(131, 226, 199);
  width:fit-content;
}

ul {
  padding: 0;
}

p {
  margin: 0;
}
header {
  height: 60px;
  background-color: rgb(131, 226, 199);
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

h1 {
  margin: 15px 20px 0 20px;
  font-size: 20px;
  font-style: italic;
  text-shadow: 2px 2px 0 #FFF, -2px -2px 0 #FFF,
  -2px 2px 0 #FFF, 2px -2px 0 #FFF,
  0px 2px 0 #FFF,  0-2px 0 #FFF,
  -2px 0 0 #FFF, 2px 0 0 #FFF;
}


nav li {
  list-style-type: none;
  text-align: center;
  float:left;
}
nav a{
  background-color: cadetblue;
  border-right: 2px solid #777;
  padding: 0 12px;
  margin: 0;
  color: rgb(62, 62, 62);
  text-decoration: none;
  display: block;
}

nav li:hover {
  opacity: 0.8;
  font-weight: bold;
}

main {
  margin: 0 auto;
  height:800px;
  display: flex;
  background-color: #FFF;
}
.main-image {
  position: relative;
}
.logo {
  position: absolute;
  left: 50%;
}
.main-theam {
  position: relative;
  width:65%;
  margin-top:40px;
  /* background-image: url(img/23018745.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; */
}


.point {
  width:35%;
  background-color: rgb(131, 226, 199);
}

.point ul {
  display:flex;
  flex-direction: column;
  text-align: center;
  height: 700px;
}

.point li {
  margin: 0;
  list-style-type: none;
  text-align: center;
}
.main-message {
  background-color: rgba(119,119,119,0.2);
  padding:0 15px 10px 10px;
  position: absolute;
  left: 5%;
  bottom: 5%;
  text-shadow: 2px 2px #FFF ;
}

span {
  font-weight: bold;
}
.point p {
font-size: 14px;
position: relative;
top:-120px;
height: 0;
line-height: 1.1;

}
.point1 p,.point3 p {
  top:-122px;
}


footer {
  height: 60px;
  background-color: rgb(131, 226, 199);
  text-align: center;
}

.document-request {
  display: flex;
  justify-content: space-around;
}

  .document-request a {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    border: 7px double rgb(117, 38, 235);
    background-image: linear-gradient(to bottom, rgb(234, 244, 169), rgb(148, 203, 109));
    display: block;
    line-height:6em;
    text-align: center;
    color:rgb(117, 38, 235);
  }
  
  
  .document-request a:hover {
    background-image: linear-gradient(to bottom,  rgb(148, 203, 109), rgb(234, 244, 169));
  }
  
  @media(max-width:980px) {

    header {
    flex-direction: column;
    justify-content:unset;
  }
  header ul {
    display: flex;
    flex-direction: column;
    
  }

  header li  a {
    border: 2px double #fff;
}

main {
  height: auto;
    background-color: rgb(131, 226, 199);
    display:block;
    /* height: fit-content;
    flex-direction: column;
    align-items: center;
     */
    }
  
    }
    .main-theam {
      width: 70%;
      margin: 150px auto 0 auto;
      background-color: #FFF;
    }
    footer {
      margin-top: 70px;
    }
  